#home_container {
  height: 510px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#home__main-tray{
  flex: 7;
}

#home__sub-tray{
  flex: 4;
}

.tray{
  box-sizing: border-box  ;
  display: flex;
}

.button{
  box-sizing: border-box;
  flex: 1;
  align-content: center;
  text-align: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 70%;
  background-clip: border-box;
}

.button h1{
  color: white;
  text-shadow: 2px 2px 0px red;
}

#kit-button{
  background-image: url(https://cdn.resfu.com/media/img_news/haaland-posa-junto-a-grealish-con-la-camiseta-de-local-del-manchester-city-para-la-temporada-2022-23--manchestercity.jpg);
}

.button:hover{
  opacity: 100%;
}

#retro-button{
  background-image: url(https://i.pinimg.com/originals/85/2f/21/852f215322e40f78e25e434c8e7116a8.jpg);
}

#etc-button{
  background-image: url(https://th.bing.com/th/id/OIP.6U5_bD7eM-TS5rN5vS9jwwHaHa?rs=1&pid=ImgDetMain);
}

#acs-button{
  background-image: url(https://th.bing.com/th/id/R.36c0f159dc00de4b37872f13be4911db?rik=mFGnjUObiUNFCg&riu=http%3a%2f%2fupload.ecvv.com%2fupload%2fProduct%2f200911%2fTaiwan_Soccer_Player_Accessories1132009111826AM1.JPG&ehk=e2C2D%2bQaeem3%2bmMZV0GCFSXsw7QSK5Je1aGrhZey8Dw%3d&risl=&pid=ImgRaw&r=0);
}