.Demuc{
    font-size: 24px;
    font-weight: bold ;
}
.Chamnho{
    font-size: 12px;
}
.Space_top{
    margin-top: 100px;
}
.More{
    font-size: 14px;
    font-weight: bold;
}
.ChinhsachQuydinh{
    font-size: 20px;
}
.Muclon{
    font-size: 24px;
    font-weight: bold;
}
.Buoc{
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}