.admin_title {
  text-align: center;
  font-size: 40px;
}
ul.admin_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.admin_list li {
	float: left;
	margin: 5px;
}
ul.admin_list li a {
	text-decoration: none;
}
.clear {
	clear: both;
}
.wrapper {
    border:1px solid #000 ;
    height: auto;
    width: 90%;
    margin: 0 auto;
}