body{
    padding: 0;
    margin: 0;
}
.wrapper {
    border:1px solid #000 ;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto; 
}
.hinhanh_sanpham {
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 45%;
    margin: 0 10px;
}
input.them_giohang {
    padding: 12px;
    background: brown;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.header{
    background-image:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border:1px solid #ff80ff ;
    height: 180px;
    width: 100%;
}
.menu{
    border:1px solid #1aff8c ;
    height: 50px;
    width: 100%;
}
ul.baiviet li {
    border: 1px solid #ddd;
    padding: 10px;
}
ul.baiviet {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.list_menu {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  list-style: none;
}
ul.list_menu li  {
    float: left;
    margin: 5px;
    padding: 10px;
}
ul.list_menu li:hover {
  background: antiquewhite;
}
ul.list_menu li a {
    text-decoration: none;
    color: #ff0000;
    display: block;
}
#main{
    border:1px solid #00ff80 ;
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid #000066;
    height: auto;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar  {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 47px;
}
ul.list_sidebar li  {
    margin: 5px;
    padding: 10px;
}
ul.list_sidebar li:hover {
  background: antiquewhite;
}
ul.list_sidebar li a {
    text-decoration: none;
    color: #ff0000;
    display: block;
}

.maincontent{
    border: 1px solid #000066;
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}
ul.product_list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li {
    width: 18%;
    margin: 10px;
    border: 1px solid #000;
    float: left ;
    height:303px;
}
ul.product_list li img {
    width: 100%;
}
p.product_name {
     color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
p.product_price {
    color: red;
  text-align: center;
}
ul.product_list li a {
    text-decoration: none;
}
ul.list_page {
    padding: 0;
    list-style: none;
}
ul.list_page li {
    float: left;
    padding: 5px 13px ;
    margin: 5px;
    background: antiquewhite;
    display: block;
}
ul.list_page li a {
    text-decoration: none;
    color: #000;
}
.footer{
    border:1px solid #ff1a8c ;
    height: 150px;
    width: 100%;
}
p.footer_copyright {
    text-align: center;
}
.clear{
    clear: both;
}

/* Global CSS, you probably don't need that */

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

/* .container {
	font-family: 'Lato', sans-serif;
	width: 1000px;
	margin: 0 auto;
} */

 .wrapper-2 {
	display: table-cell;
	height: 100px;
	vertical-align: middle;
} 

.nav {
	margin-top: 40px;
}

.pull-right {
	float: right;
}

a, a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #999;
}

/* Breadcrups CSS */

.arrow-steps .step {
	font-size: 14px;
	text-align: center;
	color: #666;
	cursor: default;
	margin: 0 3px;
	padding: 10px 10px 10px 30px;
	min-width: 180px;
	float: left;
	position: relative;
	background-color: #d9e3f7;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -17px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 17px solid transparent;
	border-left: 17px solid #d9e3f7;	
	z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}

.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
	color: #fff;
	background-color: #23468c;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #23468c;	
}