body{
    padding: 0;
    margin: 0;
}
.wrapper {
    border:1px solid #000 ;
    height: auto;
    width: 90%;
    margin: 0 auto;
}
.wrapper_chitiet {
    height: auto;
    width: 90%;
    margin: 0 auto; 
}
.hinhanh_sanpham {
    float: left;
    width: 30%;
}
.chitiet_sanpham {
    float: left;
    width: 45%;
    margin: 0 10px;
}
input.them_giohang {
    padding: 12px;
    background: brown;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.header{
    background-image:url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border:1px solid #ff80ff ;
    height: 180px;
    width: 100%;
}
.menu{
    border:1px solid #1aff8c ;
    height: 50px;
    width: 100%;
}
ul.baiviet li {
    border: 1px solid #ddd;
    padding: 10px;
}
ul.baiviet {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.list_menu {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  list-style: none;
}
ul.list_menu li  {
    float: left;
    margin: 5px;
    padding: 10px;
}
ul.list_menu li:hover {
  background: antiquewhite;
}
ul.list_menu li a {
    text-decoration: none;
    color: #ff0000;
    display: block;
}
#main{
    border:1px solid #00ff80 ;
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid #000066;
    height: auto;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar  {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 47px;
}
ul.list_sidebar li  {
    margin: 5px;
    padding: 10px;
}
ul.list_sidebar li:hover {
  background: antiquewhite;
}
ul.list_sidebar li a {
    text-decoration: none;
    color: #ff0000;
    display: block;
}

.maincontent{
    border: 1px solid #000066;
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}
ul.product_list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li {
    width: 18%;
    margin: 10px;
    border: 1px solid #000;
    float: left ;
    height:303px;
}
ul.product_list li img {
    width: 100%;
}
p.product_name {
     color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
p.product_price {
    color: red;
  text-align: center;
}
ul.product_list li a {
    text-decoration: none;
}
ul.list_page {
    padding: 0;
    list-style: none;
}
ul.list_page li {
    float: left;
    padding: 5px 13px ;
    margin: 5px;
    background: antiquewhite;
    display: block;
}
ul.list_page li a {
    text-decoration: none;
    color: #000;
}
.footer{
    border:1px solid #ff1a8c ;
    height: 150px;
    width: 100%;
}
p.footer_copyright {
    text-align: center;
}
.clear{
    clear: both;
}